ul {
    list-style: none;
    align-content: center;
}
li {
    display: inline;
}
h1 {
    align-content: center;
}
header h1, footer {
    background-color: bisque;
}
.wrapper {
    background-color: brown;
}