<div>
    <label><h2>Registration Page</h2></label>
    {{ registration.value | json }}
  <form [formGroup] = "registration" (ngSubmit) = "formSubmitHandler()">
    <div>
      <label><h4>User Name</h4></label>
      <input formControlName = "userName" type = "text"/>
      <div *ngIf="username.dirty && username.invalid">
        <div *ngIf="username.errors.minlength">
          Username should have minimum of 3 Characters
        </div>
        <div *ngIf="username.errors.errorText">
          Username with custom validation
        </div>
      </div>
    </div>  
    <br>
    <div>
      <label><h4>Password</h4></label>
      <input formControlName = "password" type = "password"/>
    </div>  
    <br>
    <div>
      <label><h4>Confirm Password</h4></label>
      <input formControlName = "confirmPassword" type = "password"/>
      <div *ngIf="confirmPassword.touched && registration.invalid">
        <div *ngIf="registration.errors.passwordMisMatch">
          Password Mis-Match Found !!
        </div>
      </div>
    </div>  
    <br>
    <div formGroupName = "address" > 
      <div>
        <label><h4>City</h4></label>
        <input formControlName = "city" type = "text"/>
      </div>  
      <br>
      <div>
        <label><h4>State</h4></label>
        <input formControlName = "state" type = "text"/>
      </div>  
      <br>
    </div>
    <button type="submit">Submit</button>
  </form>
  <button (click)="loadFormData()">Load Data</button>

</div>
