* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* --------------------------- Department Selection Section Starts --------------------------- */
#btn-group {
    height: 300px;
    width: 400px;
    margin: 200px auto;
    background-color: aqua;
    padding: 20px; 
}
#btn-group button {
    width: 100%;
    height: 30px;
    margin: 30px 0;
}
#btn-group h1 {
    text-align: center;
}
/* --------------------------- Department Selection Section Ends --------------------------- */
/* --------------------------- Enrollment Section Starts --------------------------- */
header h1{
    text-align: center;
    width: 100%;
    font-size: 40px;
    color: aqua;
    background-color: blue;
}
/* --------------------------- Enrollment Section Starts --------------------------- */