* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
.wrapper {
    background-color: rgb(203, 212, 223);
}
button {
    color: white;
    border: 0;
}
/* ------------------------------------ Header Section Starts --------------------------------- */
header {
    text-align: center;
    background-color: rgb(50,171,223);
}
header i {
    color: white;
    margin: 10px;
    font-size: 30px;
}
/* ------------------------------------ Header Section Ends --------------------------------- */
/* ------------------------------------ Cover Pics Section Starts --------------------------------- */
.cover-pic {
    position: relative;
}
.cover-pic img {
    width: 100%;
}
.profile img{
    width: 230px;
}
.profile {
    position: absolute;
    bottom: -245px;
    left: 90px;
}
.profile-content h1 { 
    font-size: 30px;
}
.profile-content h2 {
    font-size: 21.5px;
    color: rgb(155, 155, 155);
    margin-bottom: 10px;
}
.profile-content h3 {
    color: rgb(58, 56, 56);
    font-size: 15px;
    margin-top: 5px;
    font-weight: 400;
}
.profile-content h4 {

    font-weight: 400;
}
.follow {
    position: absolute;
    bottom: 30px;
    right: 30px;
}
.follow button {
    height: 55px;
    width: 150px;
    background-color: rgb(78, 146, 223);
    font-size: 18px;
}
/* ------------------------------------ Cover Pics Section Ends --------------------------------- */
/* ------------------------------------ Posts Section Starts --------------------------------- */
.posts-area {
    margin-top: 20px;
}
.posts-section {
    margin-left: 337px;
    margin-right: 75px;
}
.left-posts {
    float: left;
    width: 67%;
}
.right-posts {
    float: right;
    width: 31.5%;
    padding: 10px;
    background-color: white;
    font-weight: 300;
}
.post-new {
    position: relative;
    margin-bottom: 10px;
}
.post-new textarea {
    display: block;
    width: 100%;
    height: 165px;
    resize: none;
    padding: 25px 25px 42px 25px;
    font-size: 16px;
    border: 0;
}
.post-new button {
    position: absolute;
    bottom: 10px;
    right:10px;
    height: 30px;
    width: 70px;
    font-size: 11px;
    background-color: rgb(78, 146, 223);
}
.post {
    background-color: white;
    padding: 10px;
    margin-top: 10px;
}
.post img {
    float: left;
    width: 9%;
}
.post-content {
    float: right;
    width: 89%;
    padding-bottom: 10px;
    font-weight: 300;
}
.clear-fix {
    clear: both;
}
.post-content h3 {
    font-size: 15px;
    margin-bottom: 10px;
    font-weight: 400;
    line-height: 1;
}
.post-content p {
    font-size: 13px;
}
.post-content-image img {
    width: 100%;
    margin: 10px 0;
}
.right-posts h4 {
    font-weight: 300;
}
.recent-post {
    font-size: 10.5px;
    margin: 10px 0;
}
/* ------------------------------------ Posts Section Ends --------------------------------- */
/* ------------------------------------ Mobile View Edits Starts ---------------------------------- */
@media only screen and (max-width: 500px) {
    .posts-area {
        margin-top: 220px;
    }
    .posts-section {
        margin: 20px 20px 0px 20px;
    }
    .left-posts {
        float: none;
        width: 100%;
        margin-bottom: 10px;
    }
    .right-posts {
        float: none;
        width: 100%;
    }
    .profile img{
        width: 140px;
    }
    .profile {
        bottom: -200px;
        left: calc(50% - 70px);
    }
    .profile-content h1 { 
        font-size: 19px;
    }
    .profile-content h2 {
        font-size: 18px;
    }
    .profile-content h4 {
        font-size: 16px;
        font-weight: 400;
    }
    .profile-content h3 {
        font-size: 15px;
        font-weight: 400;
    }
    .follow {
        top: 15px;
        right: 15px;
    }
    .follow button {
        height: 30px;
        width: 90px;
        font-size: 12px;
    }
}
/* ------------------------------------ Mobile View Edits Ends ---------------------------------- */
